/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

/* source: https://www.joshwcomeau.com/css/custom-css-reset/ */

:root {
  --system-ui: system-ui, "Segoe UI", roboto, helvetica, arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--system-ui);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* header */
header {
  padding-block: 1.25rem;
  padding-inline: 7rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}

header nav {
  justify-self: end;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

a {
  color: black;
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

h2 {
  font-size: 1.875rem;
}

hr {
  margin-block: 1.5rem;
}

.page-layout {
  padding-inline: 7rem;
  max-width: 120ch;
}

.full-resume-link-container {
  font-weight: bold;
  padding-block-end: 1rem;
}
