/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

/* source: https://www.joshwcomeau.com/css/custom-css-reset/ */

:root {
  --system-ui:
    system-ui, "Segoe UI", roboto, helvetica, arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--system-ui);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  margin-bottom: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin-block: 0.5rem;
}

header {
  padding-block: 1.25rem;
  padding-inline: 7rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}

header nav {
  justify-self: end;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

a {
  color: black;
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

h2 {
  font-size: 1.875rem;
}

hr {
  margin-block: 1.5rem;
}

footer {
  background-color: rgb(240 240 240);
  padding-block: 2.5rem;
  padding-inline: 7rem;
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
}

.ember-application {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-layout {
  padding-inline: 7rem;
  max-width: 120ch;
  margin-block-end: 2rem;
}

.full-version-link-container {
  font-weight: bold;
  padding-block-end: 1rem;
}

.social-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.index-hero {
  background: rgb(2 0 36);
  background-color: rgb(35 44 51);
  color: white;
  padding-inline: 7rem;
  padding-block: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.index-hero p {
  line-height: 3rem;
  font-size: 3rem;
  margin-bottom: 0;
  max-width: 25ch;
  vertical-align: middle;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(117 151 177);
  gap: 2rem;
  padding-block: 2rem;
  margin-block-end: 2rem;
}

.carousel-button-container {
  background-color: black;
  border-radius: 3rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.carousel-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: white;
  font: inherit;
}

.carousel-container img {
  margin-right: auto;
  margin-left: auto;
  max-height: 80vh;
}
