<div class="index-hero">
    <p>
    Philadelphia based product manager and maker with a background in physical product design and development. 
    </p>
</div>

<div class="index-card-container">
    <div class="index-card">
    <div class="index-card-media">
        <img src="https://i.imgur.com/7Nd4SWc.jpg" alt="An angry cat.">
        </div>
    <div class="index-card-content">
            
    <LinkTo @route="resume">Resume</LinkTo>
    <p>Sample sentence about how will has experience doing stuff.</p>
</div>
</div>
<div class="index-card">
     <div class="index-card-media">
        <img src="https://i.imgur.com/lK7Jyja.jpg" alt="A cat holding a gun with its tail.">
        </div>
<div class="index-card-content">
    <LinkTo @route="portfolio">Portfolio</LinkTo>
    <p>Sample sentence about maybe the contents of his portfolio.</p>
</div>
</div>
</div>