{{page-title "Resume"}}

<div class="page-layout">
  <h2>Resume</h2>
  <div class="full-version-link-container">
    <a
      href="full-work-experience.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      Full version
    </a>
  </div>

  <h3>Product Manager — Cooking Division | Lignetics Inc.</h3>
  <p>July 2023 – Present</p>
  <h4>Product</h4>
  <ul>
    <li>Responsible for development of 30+ commercially viable new products
      utilizing market data and internally developed costing models to define
      sellable products with favorable margins for both core and private label
      SKUs.</li>
    <li>
      Managed factory production for new and updated goods to reflect supply
      chain realities and negotiated favorable terms with vendors. Steered
      production around fluctuating material, freight, and operational costs.
    </li>
  </ul>
  <h4>Marketing</h4>
  <ul>
    <li>
      Co-managed marketing campaigns from inception to post-mortem, iterating on
      successes. Led diversification from Meta-first marketing plan to a
      Youtube/Reddit higher-impact strategy.
    </li>
    <li>
      Worked with internal creative team, contracted creative agencies, and
      content creators to hone effective brand messaging. I was the first person
      at the company to ever ask for a list of our creators with relevant impact
      metrics.</li>
    <li>
      Conducted trend and competitive landscape analysis to turn our team into
      market experts.
    </li>
  </ul>
  <h4>Channel</h4>
  <ul>
    <li>Strategized with Sales teams to focus sell-in efforts on our highest
      margin items and devised playbooks for retailer outreach.</li>
    <li>Developed in-store merchandising displays and materials.</li>
  </ul>
  <hr />
  <h3>Associate Product Manager | Bell Sports, Inc. / Blackburn</h3>
  <p>June 2022 – April 2023</p>
  <ul>
    <li>
      Led product development from concept to buy-ready product to sell-in and
      marketing for cycling accessories in: Car Racks, Maintenance and Tools,
      Apparel, Child Carriers, Computers—categories totaling $15m in yearly
      revenue
    </li>
    <li>
      Partnered with multinational mass retailers to develop lines of viable
      in-store and online products utilizing consumer data and market trend
      analysis.
    </li>
    <li>
      Worked with Sales and Industrial Design to develop products in line with
      brand values and market demand.
    </li>
    <li>
      Conducted in-depth financial analysis for costing and retail scenarios
      with the goal of full profitability of all products in the line.
    </li>
    <li>
      Worked closely with a team of developers and foreign manufacturers to meet
      product specifications, including material, color, quality, and cost.
    </li>
    <li>
      Finalized ordering programs to match projections and forecasts in
      partnership with Project Managers, Sales Teams, and Operations.
    </li>
    <li>
      Led creative teams in developing highly praised informational and
      marketing content for use across platforms, including: instructional
      videos, photo shoots (briefs and on site), info graphics, copy writing.
    </li>
  </ul>
  <hr />
  <h3>Product & Services Manager | Glampervan</h3>
  <p>Product & Services Manager (October 2021 - March 2022)</p>
  <p>Associate Operations (June 2021 - September 2021)</p>

  <ul>
    <li>Built a new service department from zero and managed sales, customer
      pipeline, and execution of work orders.</li>
    <li>Led regular progress meetings consisting of developers, sales, and upper
      management.</li>
    <li>Communicated contract requirements to production leads.</li>
    <li>Managed post-sale relationships and resolved inquiries.</li>
    <li>Handled supply-chain logistics and supplier relations, including gauging
      reliability of vendors, sourcing new material streams, and negotiating
      cost.</li>
    <li>Implemented new organizational system to improve shop efficiency.</li>
    <li>Identified and presented improvements to the van design and van build
      process.</li>
  </ul>
</div>