{{page-title "Works"}}

<h2 class="sr-only">Works</h2>
<PortfolioCarousel />
<div class="page-layout">
  <div class="full-version-link-container">
    <a href="full-portfolio.pdf" target="_blank" rel="noopener noreferrer">
      Full version
    </a>
  </div>
</div>